<template>
    <div class="statistics">
        <h4>Statistics</h4>
    </div>
</template>

<script>
export default {
    
}
</script>


<style scoped >


    h4{
        font-weight: bold;

    }

    .statistics {
        text-align: center;
        height: 100vh;
    }

</style>