<template>
     <div class="todos container">
        <h4>Todos</h4>
         <table class="table-striped table-light todos-table">
            <thead>
                <tr >
                <th>
                    <div class="form-check">
                        <input id="flexCheckDefault" class="form-check-input" type="checkbox" value="" >
                        <label class="form-check-label" for="flexCheckDefault">
                        </label>
                    </div>
                </th>
                <th>Title</th>
                <th>Assigned User</th>
                <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr  v-for="todo in todos" :key="todo.id" class="todo">      
                    <td >
                    <div class="form-check" >
                        <input  id="flexCheckDefault"  class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label" for="flexCheckDefault" >
                        </label>
                    </div>
                    </td>
                    <td class="boldy">
                        {{todo.title}}
                    </td>
                    <td>
                         {{todo.id}}
                    </td>
                          
                    <td>
                         {{todo.completed}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
/*
 * Responsibilities of component: List todos
 */
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Todo } from '@/modules/todo/Todo';

@Component({ components: {} })
export default class TodoList extends Vue {
  // interface
  @Prop({ required: true }) todos!: Todo[];
}
</script>

<style> 

.todos {
    height: 100vh;
    
}

.todos-table {
    display: block; /* important */
    height: 600px;
    overflow-y: auto;
    width: 85%;
    border-radius: 12px;
}

.todos  table > thead > tr > th,td {
    justify-content: center;
    padding: 8px 12px;
}

th > .form-check {
    padding-left: 0;
}
td > .form-check {
    padding-left: 0;
}

.boldy {
    font-weight: bold;
}




</style>