<template>
  <div class="todo-listing todos-table justify-content-center">
    <todo-data-provider v-slot="{todos, loading}" >
      <todo-list v-if='!loading' :todos="todos" filter-query="" />
      <div v-else>loading...</div>
    </todo-data-provider>
  </div>
</template>

<script lang="ts">
/*
 * Responsibilities of component: Houses all components regarding the todo entity
 */
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import TodoList from '@/modules/todo/components/TodoList.vue';
import TodoDataProvider from '@/modules/todo/store/TodoDataProvider.vue';

@Component({ components: { TodoDataProvider, TodoList } })
export default class TodoListing extends Vue {

}
</script>

<style scoped lang="scss">
  .todo-listing {
    display: flex;
    height: 100vh;
    width: 100%;

  }
</style>