<template>
  <div class="user-listing users-table justify-content-center">
    <user-data-provider v-slot="{users, loading}" >
      <user-list v-if='!loading' :users="users" filter-query="" />
      <div v-else>loading...</div>
    </user-data-provider>
  </div>
</template>

<script lang="ts">
/*
 * Responsibilities of component: Houses all components regarding the user entity
 */
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import UserList from '@/modules/user/components/UserList.vue';
import UserDataProvider from '@/modules/user/store/UserDataProvider.vue';

@Component({ components: { UserDataProvider, UserList } })
export default class UserListing extends Vue {

}
</script>

<style scoped lang="scss">
  .user-listing {
    display: flex;
    height: 100vh;
    width: 100%;

  }
</style>
