
// main colors
$--color-primary: #37a18b;
$--color-primary-hover: rgba(12, 188, 135, 0.06);
$--font-grey: #333333 !default;
$--main-grey: #42555A !default;
$--red: #FF5F61 !default;
$--yellow: #F9C56F !default;
$--second-grey: #838383 !default;
$--third-grey: #D9D9D9 !default;
$--forth-grey: #e0e0e0 !default;
$--background-grey: #F1F1F1 !default;
