<template>
  <div class="container">
    <h4>Users</h4>
    <table class="table-striped table-light users-table">
      <thead>
        <tr>
          <th>
            <div class="form-check">
              <input id="flexCheckDefault" class="form-check-input" type="checkbox" value="" >
              <label class="form-check-label" for="flexCheckDefault"></label>
            </div>
          </th>
          <th>Name</th>
          <th>User Name</th>
          <th>Website</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, id) in users" :key="id">      
          <td>
            <div class="form-check">
              <input id="flexCheckDefault" class="form-check-input" type="checkbox" value="" >
              <label class="form-check-label" for="flexCheckDefault">
              </label>
            </div>
          </td>
          
          <td class="boldy">
            {{ user.name }}
          </td>
          <td>
            {{ user.username}}
          </td>
          <td>
            {{ user.website}}
          </td>
          <td>
            {{ user.phone}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
/*
 * Responsibilities of component: List users by name
 */
import { Component, Prop, Vue } from 'vue-property-decorator';
import { User } from '@/modules/user/User';

@Component({ components: {} })
export default class UserList extends Vue {
  // interface
  @Prop({ required: true }) users!: User[];

  @Prop({ required: true }) filterQuery!: string;
}
</script>

<style>
  h4 {
    font-weight: bold;
  }
  
  .users-table {
    border-radius: 6px;
    margin-bottom: 26px;
  }

  .users-table thead {
    text-align: center;
    padding: 6px;
  }

  .users-table td, tr{
    padding: 8px 40px;

  }

  .form-check {
    padding-left: 0;
  }

  th {
    padding:8px;
  }

</style>
