<template>
  <div>
    <slot :todos="todos" :loading="loading" />
  </div>
</template>

<script lang="ts">
/*
 * Responsibilities of component:
 * - Provide all necessary data for todo module
 */
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import { TodoModuleMixin } from '@/modules/todo/mixins/TodoModuleMixin';
import { Todo } from '@/modules/todo/Todo';

@Component
export default class TodoDataProvider extends mixins(TodoModuleMixin) {
  extraExampleEndpointLoading = true;

  get todos(): Todo[] {
    return this.todoModule.items;
  }

  get loading(): boolean {
    // here you can i.e. make a conditional check of multiple loading states (i.e. if you wait for multiple endpoints)
    return this.todoModule.loading || this.extraExampleEndpointLoading;
  }

  created() {
    // simulate extra endpoint loading
    setTimeout(() => {
      this.extraExampleEndpointLoading = false;
    }, 500);
  }
}
</script>
