.el-input__inner {
  border-radius: 8px !important;
  border: 1px solid $--third-grey;
}

.el-textarea__inner {
  border: none !important;
}

.el-textarea {
  border-radius: 8px !important;
  border: 1px solid $--third-grey;
}

.el-form-item__content {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}
