<template>
  <div>
    <svg viewBox="0 0 1053 1046" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        class="circle-dot"
        d="M998.137 595.322C1003.27 595.88 1007.94 598.552 1011.02 602.698C1014.09 606.844 1015.31 612.084 1014.36 617.159C970.198 843.945 770.305 1015.37 530.688 1015.37C258.766 1015.37 38 794.605 38 522.685C38 250.765 258.766 30 530.688 30C770.305 30 970.198 201.426 1014.31 428.221C1015.26 433.283 1014.05 438.511 1010.98 442.644C1007.91 446.78 1003.25 449.446 998.131 450.004C990.181 450.914 981.074 451.905 973.384 452.742C963.791 453.786 955 447.295 953.175 437.817C913.752 240.579 739.459 91.7863 530.688 91.7863C292.868 91.7863 99.7867 284.866 99.7867 522.685C99.7867 760.504 292.868 953.584 530.688 953.584C739.459 953.584 913.752 804.791 953.216 607.562C955.035 598.107 963.806 591.628 973.381 592.669C981.074 593.466 990.181 594.457 998.137 595.322Z"
        fill="#333333"
      />
      <path
        d="M991.935 578.672C1022.98 578.672 1048.15 553.503 1048.15 522.455C1048.15 491.407 1022.98 466.238 991.935 466.238C960.887 466.238 935.718 491.407 935.718 522.455C935.718 553.503 960.887 578.672 991.935 578.672Z"
        class="circle-dot"
        fill="#28A885"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M430.301 385.248C431.306 382.361 433.818 380.227 436.83 379.474C439.843 378.721 442.979 379.473 445.364 381.607C484.653 416.879 625.992 543.53 653.984 568.635C656.871 571.271 657.875 575.414 656.494 579.054C650.469 594.619 634.151 636.543 625.866 657.63C624.736 660.517 622.353 662.651 619.34 663.404C616.327 664.031 613.188 663.279 610.929 661.271C571.64 626.752 429.926 501.982 401.684 477.129C398.797 474.493 397.793 470.352 399.173 466.712C405.324 450.645 421.891 407.088 430.301 385.248Z"
        fill="#333333"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M484.251 362.864C480.36 362.864 476.845 365.25 475.465 368.89C474.084 372.53 475.09 376.671 478.103 379.307C507.977 405.792 564.837 456 578.268 467.925C580.151 469.556 582.661 470.436 585.172 470.31C602.619 469.306 673.916 465.039 695.129 463.784C698.894 463.533 702.034 461.273 703.415 457.758C709.44 442.068 726.511 397.76 734.921 375.794C736.051 372.907 735.673 369.642 733.916 367.132C732.158 364.496 729.272 362.989 726.134 362.989C681.825 362.989 541.615 362.864 484.251 362.864Z"
        fill="#333333"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M573.651 682.375C577.542 682.375 581.057 679.989 582.438 676.349C583.818 672.709 582.814 668.568 579.927 665.932C549.927 639.447 493.065 589.239 479.634 577.314C477.751 575.682 475.241 574.803 472.731 574.929C455.157 576.058 382.353 580.327 360.763 581.707C357.123 581.833 353.859 584.216 352.604 587.731C346.579 603.296 329.509 647.606 320.974 669.698C319.844 672.585 320.347 675.849 321.979 678.359C323.736 680.87 326.748 682.375 329.76 682.375C374.446 682.375 515.911 682.375 573.651 682.375Z"
        fill="#333333"
      />
    </svg>
  </div>
</template>

<script lang="ts">
/*
 * Responsibilities of component
 */
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ components: {} })
export default class SinpexLoadingSpinner extends Vue {
  // state
  mounted() {}
}
</script>

<style scoped>
@keyframes infinite-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.circle-dot {
  z-index: 200;
  -webkit-animation: infinite-spinning 2s infinite linear;
  animation: infinite-spinning 2s infinite alternate-reverse;
  width: 100px;
  height: 100px;
  transform-origin: center center;
}
</style>
