<template>
  <div>
    <slot :users="users" :loading="loading" />
  </div>
</template>

<script lang="ts">
/*
 * Responsibilities of component:
 * - Provide all necessary data for user module
 */
import { Component } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import { UserModuleMixin } from '@/modules/user/mixins/UserModuleMixin';
import { User } from '@/modules/user/User';

@Component
export default class UserDataProvider extends mixins(UserModuleMixin) {
  extraExampleEndpointLoading = true;

  get users(): User[] {
    return this.userModule.items;
  }

  get loading(): boolean {
    // here you can i.e. make a conditional check of multiple loading states (i.e. if you wait for multiple endpoints)
    return this.userModule.loading || this.extraExampleEndpointLoading;
  }

  created() {
    // simulate extra endpoint loading
    setTimeout(() => {
      this.extraExampleEndpointLoading = false;
    }, 500);
  }
}
</script>
