<template>
  <div v-if="width > 800" id="app">
    <div id="navigation">
      <b-navbar toggleable="lg" type="light" variant="light">
        <b-navbar-brand tag="h1" class="mb-0">sinpex</b-navbar-brand>

        <b-navbar-nav>
          <router-link to="/" class="active-link">USERS</router-link>
          <router-link :to="{ name: 'TODOS' }">TODOS</router-link>
          <router-link :to="{ name: 'STATISTICS' }">STATISTICS</router-link>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <img id="settings" src="../public/settings.png" />
        </b-navbar-nav>
      </b-navbar>
    </div>

    <router-view />
  </div>
  <div v-else class="mt-4 text-center">
    Mobile screens are not yet supported.
    <br />Please open Sinpex on desktop.
  </div>
</template>

<script lang="ts">
import axios from 'axios';
import { Component, Provide, Vue, Prop } from 'vue-property-decorator';
import { Modules } from '@/store/Modules';
import { createUserModule } from '@/modules/user/store/createUserModule';
import { createTodoModule } from '@/modules/todo/store/createTodoModule';
import { UserApi } from '@/modules/user/api/UserApi';
import { TodoApi } from '@/modules/todo/api/TodoApi';

@Component
export default class App extends Vue {
  @Provide(Modules.USER_MODULE)
  private userModule = createUserModule(this.$store, new UserApi(axios));

  @Provide(Modules.TODO_MODULE)
  private todoModule = createTodoModule(this.$store, new TodoApi(axios));

  get width() {
    return window.innerWidth;
  }

  beforeDestroy() {
    // destroying child modules
    const modules = [Modules.USER_MODULE, Modules.TODO_MODULE];

    modules.forEach((m) => {
      this.$store.unregisterModule(m);
      try {
        this.$store.unregisterModule(`${m}_base`);
      } catch (e) {
        console.log(e);
      }
    });
  }
}
</script>

<style>
html {
  height: 100%;
}
body {
  height: 100%;
}

h4 {
  font-weight: bold;
}

#app {
  margin: 0;
  background-color: rgb(223, 223, 223);
}

#navigation .navbar {
  /* background-color: #d3d3d3!important; */
  border-bottom: 2px solid rgb(151, 144, 144);
  box-shadow: 1px 2px rgb(206, 206, 206);
}

#navigation nav a:hover {
  text-decoration: none;
}


nav a.router-link-exact-active {
  color: rgb(76, 172, 172);
  text-underline-offset: 1.1em;
  text-decoration: underline solid;
}

.navbar-nav {
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.navbar-nav a {
  padding: 6px;
  color: rgb(119, 118, 118);
}

b-navbar-brand {
  font-weight: bold;
}
</style>